*{
    box-sizing: border-box;
}
body{
    /* background: red; */

}
.main{

    height: 100vh;
    padding: 50px;
    background-image:linear-gradient(to right,
              rgba(0,0,0, 1),
              rgba(255,255,255, 0.09)),
url('/assets/images/bg01.jpg');
    background-repeat: no-repeat;
background-size: auto 100%;
    display:flex;
    align-items: center;
}
.introTitle{
    font-family: "Roboto, sans-serif";
font-size:52px;
color:#ffffff;
margin-bottom: 30px;
}
.introDesc{
   font-family: "Roboto, sans-serif";
font-size:16px;
color:#ffff; 
margin-bottom: 30px;  
width: 400px;
}
input[type="email"]{
    border:1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 60%;
    background:transparent;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
#thankYouMessage{
    color:white;
    font-size:12px;
}
input[type="submit"]{
    border:1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background:#1cb495;
    color:white;
    cursor: pointer;
}
.socials{
position: absolute;
bottom: 50px;
}
.socialIcons{
    list-style:none;
    padding: 0;
}
.socialIcons li{
    display: inline;
}
.socialsCopy{
    font-family: "Roboto, sans-serif";
font-size:14px;
color:#ffff; 
 
}
.socialIcons li img{
height: 25px;
width:25px;    
color:white;
}





@media only screen and (max-width: 800px) {
 .introTitle,.introDesc,.socials{
     display: none;
  }
  .main{
      justify-content: center;
  }
  input[type="email"],input[type="submit"]{
      margin-bottom: 20px;
      width:80vw;
  }

}

@media only screen and (min-width: 800px) {
   .introSection,.introTitle,.introDesc{
display: block;
  } 
}